<div class="content">
    <div class="heading_section">
        <h3 class="wthree_head">Contact Us</h3>
        <p class="mcc_para">
    MCC Trading Co., Ltd. specialises in the manufacturing and export of Industrial Fasteners and OEM products.
       </p>
    </div>

    <div class="row">
    <img src="/public/images/ding.jpg" class="col-6"/>
    <div class="text col-6" >
    <h3>{{site_copyright}}</h3>
    <ul>
        <li>Office: {{site_address}}</li>
        <li>Web: {{site_url}}.
        <li>Tel: {{site_phone}}</li>
        <li>Wechat: {{site_wechat}}</li>
        <li>Whatsapp: {{site_whatsup}}</li>
    </ul>
   </div>
   </div>
</div>
