<div class="container-header">
    <div class="address-left">
	<p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:{{site_email}}">{{site_email}}</a></p>
    </div>
    <div class="address-left right">
    <p><i class="fa fa-phone" aria-hidden="true"></i> {{site_phone}}</p>
    </div>
</div>
<div class="container-menu">
   <nav class="navbar navbar-default container">
    <div class="navbar-header navbar-left">
        <h1><a class="navbar-brand" href="index.html">{{site_name}}</a></h1>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <nav class="navbar-right">
            <ul class="nav navbar-nav">
            <li class="{{ key== 'index' ? 'active' : 'item' }}"><a href="/">Home</a></li>

            <li class="{{ key== 'list' ? 'active' : 'item'  }}"><a href="/list.php">Product</a></li>
            <li class="{{ key== 'aboutus' ? 'active' : 'item'  }}"><a href="/aboutus.php">About Us</a></li>
            <li class="{{ key== 'contact' ? 'active' : 'item'  }}"><a href="/contact.php">Contact Us</a></li>
            </ul>
        </nav>
    </div>
   </nav>
</div>
<script>
var webData = {
};
var pageData = {
    'key' : '{{key}}'
};
</script>
